.table-main {
  width: 100%;
  padding-top: 3rem;
  padding-left: 2rem;
}

.scenarioSection {
  width: 100%;
  padding-top: 3rem;
  padding-right: 1rem;
}

tbody > tr {
  font-size: 10px;
  background-color: mintcream;
  border-radius: 10px;
  border-width: 0.5px;
  border-spacing: 1px;
}

thead > tr {
  font-size: 13px;
  background-color: rgb(84, 84, 230);
  color: rgb(247, 244, 244);
  text-align: center;
}

.status {
  color: green;
  font-weight: bold;
}
